body {
  font-family: Arial, sans-serif;
  background-color: #454c57;
}
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.content-block {
    display: none;
}
.content-block.active {
    display: block;
}
.menu-btn.active {
    background-color: rgb(143, 143, 245);
    color: rgb(255, 255, 255);
}

table {
    width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    border-spacing:0px 20px;
}

h1 {
  width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse;
    border-spacing:0px 20px;
}

table td {
  width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse;
    border-spacing:0px 20px;
}

table tr {
  width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse;
    border-spacing:0px 20px;
}
